/* pagination */
.input-group {
  padding: 15px;
}

.content {
  margin-left: 200px;
  margin-top: 70px;
  padding: 20px;
}

.mlogo {
  width: 35px;
}

.mbrand-name {
  margin-top: 20px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 20px;
}

.msidebar-item {
  padding: 5px;
  /* border-bottom: 1px solid #ddd; */
}

.msidebar-item:hover {
  background-color: #e9ebe4;
}

.mpage-name {
  margin: 8px;
  font-weight: bold;
  font-size: 20px;
}

.user-info {
  margin-right: 10px;
}

.username {
  font-weight: bold;
  font-size: 14px;
}

.user-info p {
  font-style: italic;
  font-size: 14px;
}

/* pagination */
#pagination {
  margin: 0;
  padding: 0;
  text-align: center;
}

#pagination li {
  display: inline;
}

#pagination li a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000;
}

#pagination li a {
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

#pagination li a.active {
  background-color: #abc8c0;
  color: #fff;
}

#pagination li a:hover:not(.active) {
  background-color: #ddd;
}

.b-pagination-outer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  display: flex;
}

#border-pagination {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#border-pagination li {
  display: inline;
}

#border-pagination li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #ddd;
  float: left;
}

#border-pagination li a {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

#border-pagination li a.active {
  background-color: #4caf50;
  color: #fff;
}

#border-pagination li a:hover:not(.active) {
  background: #ddd;
}

.breadcrumb-item a {
  color: #000;
  /* text-decoration: none; */
}

.part-title {
  font-weight: 600;
  font-size: 15px;
}

/* side bar */
.d-flex.flex-row {
  display: flex;
  flex-direction: row;
}

.sidebar-wrap {
  width: 60px;
  height: auto;
  min-height: 100vh;
  background-color: #f6f9ed;
  color: #fff;
  padding: 10px;
  transition: width 0.8s;
  /* flex-shrink: 0; */
}

.sidebar-wrap:hover {
  width: 200px;
}

.sidebar-wrap:hover .logo-wrap span,
.sidebar-wrap:hover .nav li .nav-link span,
.sidebar-wrap:hover .dropdown-wrap strong,
.sidebar-wrap:hover .dropdown-wrap::after {
  display: flex;
}

.main-content {
  flex-grow: 1;
  background-color: #f8f9fa;
}

.navbar {
  width: 100%;
  background-color: #fff;
  color: black;
  padding: 10px 20px;
}

/* logo  */
.sidebar-wrap .logo-wrap {
  color: #000;
  font-size: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-wrap .logo-wrap span {
  color: #fff;
}

.sidebar-wrap .logo-wrap span :hover {
  color: #000;
}

.sidebar-wrap .logo-wrap span {
  font-size: 18px;
}

.sidebar-wrap .logo-wrap .icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 40px;
}

.sidebar-wrap .nav {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  flex-wrap: nowrap;
}

.sidebar-wrap .nav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #f5f5f5;
}

.sidebar-wrap .nav::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.sidebar-wrap .nav::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #9b9b9b;
}

.sidebar-wrap .nav li {
  margin-top: 5px;
}

/* //icon color */
.sidebar-wrap .nav li .nav-link {
  color: #280004;
  padding: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sidebar-wrap .nav li .nav-link .icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 40px;
}

.sidebar-wrap .nav li .nav-link span {
  font-size: 16px;
}

.sidebar-wrap .nav li .nav-link:hover {
  background-color: #9b9b9b;
}

.sidebar-wrap .dropdown-wrap {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 15px;
  font-size: 16px;
}

.sidebar-wrap .dropdown-wrap .icon-wrap {
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  margin-bottom: 10px;
}

/*.mlogo {
      width: 35px;
  }*/

/*my button*/
.button-2 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
/* button33blue */
.button33blue {
  position: relative;
  height: 40px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border: 1px solid #87ceeb;
  background-color: #87ceeb;
  border-radius: 0.25rem;
  padding: 0 20px;
  width: 260px;
}

.button33blue,
.button-icon,
.button-text {
  transition: all 0.3s;
}

.button33blue .button-text {
  transform: translateX(0);
  color: #fff; /* White Text */
  font-weight: 600;
  white-space: nowrap;
}

.button33blue .button-icon {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 43px;
  background-color: #00bfff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s, background-color 0.3s;
}

.button33blue:hover {
  background: #00bfff;
}

.button33blue:hover .button-text {
  color: transparent;
}

.button33blue:hover .button-icon {
  width: calc(100% - 10px);
  right: 0;
}
.button-icon svg {
  color: #fff;
}

.button-2:hover,
.button-2:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-2:hover {
  transform: translateY(-1px);
}

.button-2:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/*card*/
.my-card {
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
}

.my-card-title {
  font-weight: bold;
  font-size: 20px;
}

/* for edunext */
.my-card-info span {
  font-size: 14px;
  color: #828489;
}
.my-card-info svg {
  color: #828489;
  width: 22px;
  height: 22px;
  stroke-width: 1.3px;
}

#my-collapse1 {
  border-radius: 10px;
  background-color: #f7f7f7;
  height: 50px;
}


.my-profile-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.my-profile-info {
  display: flex;
  align-items: center;
}

.my-profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.my-profile-details {
  display: flex;
  flex-direction: column;
}

.my-profile-name {
  font-weight: bold;
  margin: 0;
}

.my-profile-email {
  font-style: italic;
  margin: 0;
}

.my-status {
  display: flex;
  align-items: center;
}

.my-status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin-right: 5px;
}

/* quétion */
.question-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f8d7da;
  /* Light red background */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.question-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 0; */
}

.question-row1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 10px 0; */
}

.question-row:last-child {
  border-bottom: none;
}

.status-custom {
  color: red;
}

.status-ongoing-container {
  border-radius: 10px;
  width: 100px;
  height: 25px;
  background-color: #f7f7f7;
}

.status-ongoing {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
}

.my-group-card {
  border-radius: 10px;
  background-color: #f8f9fa;
  /* Light background color */
  padding: 13px 20px;
  display: inline-block;
}

.my-group-info {
  font-size: 18px;
  font-weight: bold;
}

.my-group-students {
  font-size: 18px;
  margin-left: 5px;
}

.my-group-note {
  font-size: 18px;
  font-style: italic;
  margin-left: 5px;
}

/* discuss */
.discussion-item {
  display: flex;
  align-items: flex-start;
  padding: 15px;
  /* border-bottom: 1px solid #ddd; */
}
.discussion-item:last-child {
  border-bottom: none;
}
.discussion-avatar {
  margin-right: 15px;
}
.discussion-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.discussion-content {
  flex-grow: 1;
}
.discussion-header {
  font-weight: bold;
}
.discussion-timestamp {
  font-size: 0.9em;
  color: gray;
}
.discussion-body {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: white;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.pagination-button.active {
  border-color: #007bff;
  color: #007bff;
}

.pagination-info {
  margin-top: 10px;
  text-align: center;
}

/* edit field */
.my-editor-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.my-editor-toolbar {
  background-color: #f8f9fa;
}
.my-editor-preview,
.my-CodeMirror {
  background-color: white;
  color: #333;
}
.my-editor-preview a {
  color: #007bff;
}
.my-editor-statusbar {
  background-color: #f8f9fa;
}
.my-btn-send {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}
.my-btn-send:hover {
  background-color: #0056b3;
}

/* back to top */
.my-back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;

  border-radius: 50px;
}

.my-back-to-top:hover {
  background-color: #0056b3;
  /* Add a dark-blue background on hover */
}

/* button download material  */
#bottone5 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

#bottone5:hover,
#bottone5:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#bottone5:hover {
  transform: translateY(-1px);
  color: #0b6efd;
}

#bottone5:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#bottone5 svg {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
